body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  font-weight: bold;
}

h1 {
  margin-bottom: 20px;
  font-size: 22px;
  text-align: center;
}
